#filterControls{
	height: 100%;
}
html, body, #main{
	height:100%;
	margin: 0%;
	padding: 0%;
	background-color: black;
	overflow: hidden;
}
.row{
	padding: 0%;
	margin: 0%;
}

#filterControls{
	top:25px;
}

#stateChartHolder{
	height: 150px;
	top:0%;
	text-align:center;
	color: white;
}
#map{
	height: 80%;
	background-color: black;
	margin: 0%;
	padding:5%;
}

#infoViz{
	height:100%;
	background-color: blue;
	margin: 0%;
	padding: 0%;
}
#monthBarChart, #yearBarChart{
	height: 300px;
	width: 300px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
#typeChartHolder{
	height: 150px;
	top: 0%;
	text-align:center;
	color: white;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index:1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#disasterMenuButton{
	width: 100%;
}
#type-filter-container{
	background-color: white;
}

.dis-btn{
  	height:50px; 
  	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
			#btn1{
	background: url("/assets/img/thumbs/coastal.svg") no-repeat center ; 
}
			#btn2{
	background: url("/assets/img/thumbs/dam.svg") no-repeat center; 
}
			#btn3{
	background: url("/assets/img/thumbs/drought.svg") no-repeat center; 
}
			#btn4{
	background: url("/assets/img/thumbs/fire.svg") no-repeat center ; 
}
			#btn5{
	background: url("/assets/img/thumbs/fish.svg") no-repeat center
}
			#btn6{
	background: url("/assets/img/thumbs/flood.svg") no-repeat center
}
			#btn7{
	background: url("/assets/img/thumbs/freezing.svg") no-repeat center
}
			#btn8{
	background: url("/assets/img/thumbs/hurricane.svg") no-repeat center
}
			#btn9{
	background: url("/assets/img/thumbs/human.svg") no-repeat center
}
			#btn10{
	background: url("/assets/img/thumbs/ice.svg") no-repeat center
}
			#btn11{
	background: url("/assets/img/thumbs/landslide.svg") no-repeat center
}
			#btn12{
	background: url("/assets/img/thumbs/snow.svg") no-repeat center
}
			#btn13{
	background: url("/assets/img/thumbs/storm.svg") no-repeat center
}
			#btn14{
	background: url("/assets/img/thumbs/terrorist.svg") no-repeat center
}
			#btn15{
	background: url("/assets/img/thumbs/tornado.svg") no-repeat center
}
			#btn16{
	background: url("/assets/img/thumbs/toxic.svg") no-repeat center
}
			#btn17{
	background: url("/assets/img/thumbs/tsunami.svg") no-repeat center
} 
			#btn18{
	background: url("/assets/img/thumbs/typhoon.svg") no-repeat center
}
			#btn19{
	background: url("/assets/img/thumbs/volcano.svg") no-repeat center
}
			#btn20{
	background: url("/assets/img/thumbs/chemical.svg") no-repeat center
}
			#btn21{
	background: url("/assets/img/thumbs/all.svg") no-repeat center
}
			#btn22{
	background: url("/assets/img/thumbs/calculate.svg") no-repeat center
}

#disasterGrid div{
	display: block;
}
.caption{
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 0%;
}
.dis-btn{
	width: 100%;
}

#disaster-grid{
	border-radius: 25px;

}

#disaster-grid .row{
	margin-right: 0px;
	padding-right:0px;
}
.header{
	color: white;
}
#bars{
	height: 100%;
}
#dropdownMenu1{
	height: 50px;
}
#filter-img{
	height: 50px;
	width: 50px;
}
#filter-bar{
	height: 100%;
	padding: 0px;
	border-radius: 5px;
	max-height: 75%;
	background-color: black;
}
.menu-icon{
	height: 27.5%;
	padding: 0px;
	margin:0px;
	opacity: 0.25;
	z-index:21;
	box-shadow:10px 10px 5px rgba(0, 0, 0, 0.85); 
}
.filter-button{
	height:100%;
	width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
	padding: 0px;
}
#extra-bar{
	z-index: 10;
	position: relative;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.85);
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
#main{
	position: absolute;
}
#close-extra{
	right: 0px;
}
#map-window{
	height: 100%;
	background-color: lightsteelblue;
}

#header-info{
	position: absolute;
	top: 1%;
	right: 1%;
	z-index: 10;
	text-align: right;
}
.page-header{
	color: white;
	text-align: center;
}
.filter-icon{
	margin-bottom: 5%;
}

.header{
	color: white;
	text-align: center;
}
.temporal-filter-holder{
	height: 100%;
	padding-left: 10%;
}
.help-p{
	padding: 5%;
}
#extra-bar{
	max-height: 100%;
	overflow: auto;
}
.settings-holder{
	padding: 5%;
}
.apply-button{
	color: green;
	text-align:center;
}

.apply-btn-text{
	padding-right: 10%;
}

.swatch{
	width: 25px;
	height: 25px;
}
#breakdown{
	height: 75%;
}
#breakdownCharts{
	height: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
.temporal-filter-holder{
	height: 300px;
	width:100%;
}
.temporalBar{
	height: 300px;
	width:300px;
}
#month-range{
	margin-bottom: 25px;
	height:10px;
}
#year-range{
		margin-bottom: 25px;
		height:10px;
}
.settings-header{
	text-align: left;
	padding-left: 25px;
}
.ui-widget-header{
	background: rgba(140, 45, 4, 0.5) !important;
}
.ui-slider-handle{
	text-anchor: middle;
	text-align: center;
}
.tip-info{
	padding-left: 5px;
}
#footer{
	right: 1%;
	text-align: right;
	bottom: 1%;
	z-index: 10001;
	position: absolute;
}

.open{
	width: 200%;
}
.closed{
	width: 100%;
}
