#filterControls{
	background-color: black;
	height: 100%;
	max-height:100%;
	min-height:100%;
	color: white;
	overflow:hidden;
}
html, body, #main, #filterControls{
	height:100%;
	margin: 0%;
	padding: 0%;
	background-color: black;
}
.row{
	padding: 0%;
	margin: 0%;
}

#filterControls{
	top:25px;
	padding-left: 2%;
	padding-right: 2%;
}

#stateChartHolder{
	height: 150px;
	top:0%;
	text-align:center;
	color: white;
}

.img-btn{
	height: 100;
	width: 100;
}

#summary{
	height: 100%;
	width: 200px;
	z-index: 10;
	position: relative;
	
}
#map{
	height: 80%;
	background-color: gray;
	margin: 0%;
	padding:5%;
}
#bottomBar{
	height: 20%;
	background-color: black;
	bottom: 0%
	margin:0%;
	padding: 0%;
}

#infoViz{
	height:100%;
	background-color: blue;
	margin: 0%;
	padding: 0%;
}
#monthBarChart, #yearBarChart{
	height: 75px;
	width: 100%;
	background-color: black;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
#typeChartHolder{
	height: 150px;
	top: 0%;
	text-align:center;
	color: white;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

