#filterControls{
	height: 100%;
}
html, body, #main, #filterControls{
	height:100%;
	margin: 0%;
	padding: 0%;
	background-color: black;
}
.row{
	padding: 0%;
	margin: 0%;
}

#filterControls{
	top:25px;
}

#stateChartHolder{
	height: 150px;
	top:0%;
	text-align:center;
	color: white;
}
#map{
	height: 80%;
	background-color: gray;
	margin: 0%;
	padding:5%;
}
#bottomBar{
	height: 20%;
	background-color: black;
	bottom: 0%
	margin:0%;
	padding: 0%;
}

#infoViz{
	height:100%;
	background-color: blue;
	margin: 0%;
	padding: 0%;
}
#monthBarChart, #yearBarChart{
	height: 75px;
	width: 100%;
	background-color: black;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
#typeChartHolder{
	height: 150px;
	top: 0%;
	text-align:center;
	color: white;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#disasterMenuButton{
	width: 100%;
}

.dis-btn{
	width:70px; 
  	height:70px; 
  	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
			#btn1{
	background: url("/assets/img/thumbs/coastal.svg") no-repeat center ; 
}
			#btn2{
	background: url("/assets/img/thumbs/dam.svg") no-repeat center; 
}
			#btn3{
	background: url("/assets/img/thumbs/drought.svg") no-repeat center; 
}
			#btn4{
	background: url("/assets/img/thumbs/fire.svg") no-repeat center ; 
}
			#btn5{
	background: url("/assets/img/thumbs/fish.svg") no-repeat center
}
			#btn6{
	background: url("/assets/img/thumbs/flood.svg") no-repeat center
}
			#btn7{
	background: url("/assets/img/thumbs/freezing.svg") no-repeat center
}
			#btn8{
	background: url("/assets/img/thumbs/hurricane.svg") no-repeat center
}
			#btn9{
	background: url("/assets/img/thumbs/human.svg") no-repeat center
}
			#btn10{
	background: url("/assets/img/thumbs/ice.svg") no-repeat center
}
			#btn11{
	background: url("/assets/img/thumbs/landslide.svg") no-repeat center
}
			#btn12{
	background: url("/assets/img/thumbs/snow.svg") no-repeat center
}
			#btn13{
	background: url("/assets/img/thumbs/storm.svg") no-repeat center
}
			#btn14{
	background: url("/assets/img/thumbs/terrorist.svg") no-repeat center
}
			#btn15{
	background: url("/assets/img/thumbs/tornado.svg") no-repeat center
}
			#btn16{
	background: url("/assets/img/thumbs/toxic.svg") no-repeat center
}
			#btn17{
	background: url("/assets/img/thumbs/tsunami.svg") no-repeat center
} 
			#btn18{
	background: url("/assets/img/thumbs/typhoon.svg") no-repeat center
}
			#btn19{
	background: url("/assets/img/thumbs/volcano.svg") no-repeat center
}
			#btn20{
	background: url("/assets/img/thumbs/chemical.svg") no-repeat center
}
			#btn21{
	background: url("/assets/img/thumbs/all.svg") no-repeat center
}
			#btn22{
	background: url("/assets/img/thumbs/calculate.svg") no-repeat center
}

#disasterGrid div{
	display: block;
}
.caption{
	display: block;
	text-align: center;
	width: 100%;
}
.dis-btn{
	width: 100%;
}
.dropdown-menu-right{
	position: absolute;
	background-color: rgba(225, 255, 255, 0.8);
	border-radius: 25px;
	box-shadow: 10px 10px;
	left: 100%!important;
	width: 125% !important;
	top:-75px;
	padding-right: 0px;
	text-align: center;
}
#disasterGrid .row{
	margin-right: 0px;
	padding-right:0px;
}
.header{
	color: white;
}
#dropdownMenu1{
	height: 50px;
}
#filter-img{
	height: 50px;
	width: 50px;
}
